---
- name: "Creates backend app directory"
  file:
    path: ~/backend-application
    state: directory

- name: "Unarchive backend files"
  unarchive:
    src: ~/project/artifact.tar.gz
    dest: ~/backend-application

- name: "Installing Dependencies"
  shell: |
    cd ~/backend-application
    npm install

- name: "Executing Node app with PM"
  shell: |
    cd ~/backend-application/dist
    pm2 stop default
    pm2 start main.js

  register: execute_node

- name: print message
  debug:
    msg: "{{ execute_node.stdout_lines }}"

- name: "Configure pm2 to start as service"
  become: true
  shell: |
    env PATH=$PATH:/usr/local/bin pm2 startup systemd -u ubuntu --hp /home/ubuntu